.card{
    border: none;
}

.redText{
    color: #c31d23;
}


.summary{
    color: black;
    text-align: left;
    font-size: 8pt;
    padding-top: 20px;
}

h1{
    font-weight: bold;
    font-style: italic;
}

