.card{
    border: none;
    min-height: 350px;
}

.redText{
    color: #c31d23;
    font-weight: bold;
    font-style: italic;
}


.summary{
    color: #000000;
    text-align: left;
    font-size: 8pt;
    padding-top: 10px;
}

