.contact {
  background: #000000;
  width: 100%;
  overflow: hidden;
  min-height: 350px;
}

.h5 {
  color: #ffffff;
  font-style: italic;
  padding: 20px;
  text-align: center;
}


#inputState{
  height: calc(1.5em + .75rem + 2px);
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}