.contact {
  background: black;
  width: 100%;
  overflow: hidden;
  min-height: 350px;
}

h5 {
  color: white;
  font-style: italic;
  padding: 20px;
}
/* 
.dropdown-menu{
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-toggle {
    background: white;
    color: black;
    text-align: left;
} */


#inputState{
  height: calc(1.5em + .75rem + 2px);
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}