.jumbotron {
  width: 100%;
  background: none;
  text-align: center;
  padding: 20px;
}

img {
  padding-top: 20px;
}

.jumbotronText {
  color: #ffffff;
  font-size: 20pt;
  text-align: center;
  padding: 0;
}

.icon {
  color: #ffffff;
  margin-left: 5px;
}

.btn {
  color: #ffffff;
}

