#footer {
    background: #465154;
    min-height: 50px;
    margin: 0;
    padding:0;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  
  